<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Annonces</title>
  </head>
  <body>

<header>
  <menu>
    <ul>
      <li><a href="{{ path('blog_index') }}">Accueil</a></li>
      <li><a href="{{ path('blog_add') }}">Ajouter</a></li>
      <li><a href="{{ path('blog_list1') }}">Lister</a></li>
    </ul>
  <menu>
</header>

{% block body %}
{% endblock %}


  </body>
</html>
