{% extends "@Blog/layout.html.twig" %}


{% block body %}


  <div class="">
   
<p>


{# <a href="{{ path('blog_add',{'tri':'datePesee', 'order':'asc'}) }}">Ajouter</a> #}

<a href="{{ path('blog_add') }}">Ajouter</a>
<a href="{{ path('blog_list1') }}">Lister</a>


{{ form(form) }}

</p>

  </div>


{% endblock %}
