
{% extends "@Blog/layout.html.twig" %}


{% block body%}

<div class="bodyContainer1">

<h2>Article N° {{ id  }}</h2>
<h1>Titre : {{ title }}</h1>
<p class="contenu">Content: {{ content  }} </p>

<p>
Alt : <span class="details">{{ alt }}</span>
</p> 
</div>


{% endblock %}
